@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'leaflet';
@import 'dashboard';
 @import 'https://fonts.googleapis.com/css?family=Cutive';
$red: #f04;
$aqua: #2df;
$beige: #F8E7BE;
$green: #df2;

*{
  font-family: 'Cutive', serif;
}
header{
  font-size: 48px;
  height: 10vh;
  background: black;
  color: $green;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h1{
    color: $aqua;
}
